/* Body */
body {
    font-family: @roboto;
}

/* Links */
a {
    color: @color-dark;
    &:hover, &:focus {
        color: @color-light;
    }
}

/* Buttons */
.btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn-primary {
    border-color: @color-light;
    background-color: @color-dark;
    &:hover {
        border-color: @color-dark;
        background-color: @color-light;
    }
}

/* Carousel */
#carousel_demo {
    height: 100vh;
    & .carousel-caption {
        margin-bottom: 5%;
    }
    & .carousel-indicators {
        margin-bottom: 2%;
    }
}

/* Other */
#website_cookie_notice {
    z-index: 199;
    position: absolute;
    width: 100%;
    padding: 6px 0 2px 0;
}