/* Body */
body {
    font-family: @roboto;
}

/* Buttons */
.btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn-primary {
    border-color: @color-light;
    background-color: @color-dark;
    &:hover {
        border-color: @color-dark;
        background-color: @color-light;
    }
}

/* Carousel */
#carousel_demo {
    height: 100vh;
}

/* Other */
#website_cookie_notice {
    z-index: 199;
    position: absolute;
    width: 100%;
    padding: 12px 0 8px 0;
}