/* Import new fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&subset=latin-ext');

/* Breadcrumbs colors */
:root {
    --color-bg: @white;
    --color-href: @color-dark;
    --color-current: #666;
}

/* Set default colours */
@color-1: #e7e7e7;
@white: #fff;

@color-light: #008BCF;
@color-dark: #0080bf;
@color-text: #1f1a17;
@main-font-family: 'Roboto', sans-serif;

@label-text: #a2a2a2;
@label-color: #fff;
@label-border: 1px solid #a2a2a2;
@label-danger-color: #fff;
@label-danger-text: @color-dark;
